.title {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.movie {
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    row-gap: 2rem;
    max-width: 70rem;
    margin: 1rem auto;
    padding: 1rem 1rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 3px #999;
    transition: transform .1s;
    &--editing {
      border: 0.05rem solid red;
    }
    &__content{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      img{
        height: 8rem;
        width: auto;
      }
    }
}
.movie:hover {
  transition: transform .3s;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);  
  transform: scale(1.1);
}