.movie {
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    row-gap: 2rem;
    max-width: 55rem;
    margin: 0 auto;
    padding: 1rem 1rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 3px #999;
    &--editing {
      border: 0.05rem solid red;
    }
    &__content{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      img{
        height: 8rem;
        width: auto;
      }
    }
}