<div class="form" [formGroup]="movieForm">
    <mat-form-field class="form__input" appearance="fill" required>
        <mat-label>Select Content Type</mat-label>
        <mat-select>
            <mat-option *ngFor="let option of options" [value]="option.value">
                {{option.viewValue | titlecase}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="form__input" appearance="legacy">
        <mat-label>Buscar película</mat-label>
        <input matInput formControlName="title"/>
    </mat-form-field>
    <mat-form-field class="form__input" appearance="legacy">
        <mat-label>Año de estreno</mat-label>
        <input matInput formControlName="year" />
    </mat-form-field>
    <button
        mat-flat-button
        color="primary"
        [disabled]="searching"
        (click)="searchMovie()"
    >
        {{ searching ? "Searching" : "Search" }}
    </button>
</div>
