<div class="title">
    <h2>Enter your residential information here</h2>
</div>
<div class="form" [formGroup]="residentialForm">
    <mat-form-field class="form__input" appearance="legacy">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="direction"/>
    </mat-form-field>
    <mat-form-field class="form__input" appearance="legacy">
        <mat-label>Barrio</mat-label>
        <input matInput formControlName="neighborhood"/>
    </mat-form-field>
    <mat-form-field class="form__input" appearance="legacy">
        <mat-label>Departamento</mat-label>
        <input matInput formControlName="department"/>
    </mat-form-field>
    <mat-form-field class="form__input" appearance="legacy">
        <mat-label>Ciudad</mat-label>
        <input matInput formControlName="city"/>
    </mat-form-field>
    <button
        mat-flat-button
        color="primary"
        [disabled]="!residentialForm.valid"
        (click)="saveResidential()"
        routerLink="/resume"
    >
        Next
    </button>
</div>
