.title {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    button {
        width: 20%;
    }
  }
.form {
    width: 50%;
    padding: 0.8rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 5px #999;
    border-radius: 0.5rem;
    &__input {
        padding: 1rem 1rem;
        width: 60%;
    }
}